<h2>Your Teams</h2>

<input type="text" ng-model="searchtext" placeholder="Filter">

<hr>
<ul class="teams">
  <li ng-repeat="l in lists | filter:searchtext | orderBy: 'name' "><a href="#/teams/{{ t.objectId }}">{{ l.title }}</a> <span ng-click="deleteMe(t.objectId, $index)">X</span></li>  
</ul>


<hr>
<h4>Add New Team</h4>
<form ng-submit="addTeam(team)">
  <input ng-model="team.name" type="text" placeholder="Team Name">
  <input ng-model="team.sport" type="text" placeholder="Sport">
  <input ng-model="team.coach" type="text" placeholder="Coach Name">
  <input ng-model="team.homefield" type="text" placeholder="Home Field">
  <button>Add Team</button>
</form>