<h2>Welcome Back!</h2>
<form ng-submit="loginUser(user)">
  <input ng-model="user.email" type="email" placeholder="Email">
  <input ng-model="user.password" type="password" placeholder="Password">
 
	 <select>
	 	<option Value="Please Choose Role.">Please Choose Role.</option>
	  <option value="volvo">Manager</option>
	  <option value="saab">Coach</option>
	  <option value="mercedes">Parent</option>
	  <option value="audi">Player</option>
	 </select>


  <button>Login</button>
</form>
<hr>
<a href="#/register">Need an account? Click Here to Register.</a>